body {
 font-family: 'AvantGardePro-XLt', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}
.cb_navWrapper {
  margin: 25px 0 0 20px;
}

#cb_navList {
  list-style: none;
}

#cb_navList li {
  margin: 0 10px;
  display: inline-block;
}

#cb_navList li a {
  text-decoration: none;
}

#cb_navList li:hover {
  cursor: pointer;
  color: #999;
}
.add__Greetings {
  text-align: center;
}

.add__Greetings h1 {
 font-family: 'AvantGardePro-XLt', 'Helvetiva Neue', sans-serif;
  font-weight: bold;
}

.box {
  margin: 50px 0 20px;
  border-bottom: 1px solid #aaa;
}

.viewBoxes {
  padding: 25px;
  width: 300px;
  display: block;
  margin: 0 auto;
}


#cb_cntHomePane {
  width: 80vw;
  height: 100vw;
  margin: 0 auto;
}

.cb_logoWrap {
  padding: 10px;
}

.cb_logoWrap img {
  width: 50px;
  height: auto;
  display: block;
  margin: auto;
}


@font-face {
  font-family: 'AvantGardePro-XLt';
  src: url('fonts/AvantGardePro-Xlt.eot');
  src: url('fonts/AvantGardePro-Xlt.eot?iefix') format('eot'),
       url('fonts/AvantGardePro-Xlt.woff') format('woff'),
       url('fonts/AvantGardePro-Xlt.ttf') format('truetype'),
       url('fonts/AvantGardePro-Xlt.svg#webfontZam02nTh') format('svg');
  font-weight: normal;
  font-style: normal;
}
